<html lang="en">
    <head>
		<title>PennBook</title>
		<link rel="shortcut icon" href="static/images/favicon.ico">
        <link href="static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/public.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.core.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.default.css" media="all" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="static/images/filler.jpg"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-float-left eight">
                    <li class="navbar-float-left"><strong>PennBook</strong></li>
                </ul>
                <ul class="nav navbar-nav navbar-float-right">
                    <li><a href="static/about">About PennBook</a></li>
                    <li><a href="/">Login</a></li>

                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="enter-account">
            <h3>Register Account</h3>
            <label for="enter-email">Email:</label>
            <input type="text" class="form-control" id="enter-email" value=""></input>
            <label for="enter-email">Password:</label>
            <input type="text" class="form-control" id="enter-password" value=""></input>
            <label for="enter-first-name">First name:</label>
            <input type="text" class="form-control" id="enter-first-name" value=""></input>
            <label for="enter-last-name">Last name:</label>
            <input type="text" class="form-control" id="enter-last-name" value=""></input>
            <label for="enter-affiliation">Affiliation:</label>
            <input type="text" class="form-control" id="enter-affiliation" value=""></input>

            <button type="submit" class="btn btn-small button-hover submit-account">Save</button>
        </div>


        <footer class="footer">
            &copy Made with <span>love</span> for NETS 212 - Fall 2014 | Meyer Kizner and Brian Shi
        </footer>



        <script src="static/js/libs/jquery-2.1.1.js"></script>
        <script>
        $(document).ready( function () { 
            var submitPost = function () { 
                var credentials = {
                    email: $("#enter-email").val(),
                    password: $("#enter-password").val(),
                    firstName: $("#enter-first-name").val(),
                    lastName: $("#enter-last-name").val(),
                    affiliation: $("#enter-affiliation").val(),
                };
                if (
                    !credentials.email ||
                    !credentials.password ||
                    !credentials.firstName ||
                    !credentials.lastName ||
                    !credentials.affiliation
                ) { 
                    alert("Please fill out all fields.");
                    return false;
                }

                $.ajax({
                    'type': 'POST',
                    'url': '/api/createAccount',
                    'contentType': 'application/json',
                    'data': JSON.stringify(credentials),
                    'dataType': 'json',
                    'success': function (response) { 
                        window.location.href = "/";
                    }
                });
            }

            $(".submit-account").on( "click", function () {
                submitPost();
            });
        });
        </script>
    </body>
</html>







