<html lang="en">
    <head>
		<title>PennBook</title>
		<link rel="shortcut icon" href="static/images/favicon.ico">
        <link href="static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/public.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.core.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.default.css" media="all" rel="stylesheet" type="text/css"/>

    </head>
    <body>

    <div class="backbone-holder">
    </div>

    <script data-main="static/js/main" src="static/js/libs/require.js"></script>

    </body>
</html>




