
<html lang="en">
    <head>
		<title>PennBook</title>
		<link rel="shortcut icon" href="static/images/favicon.ico">
        <link href="static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/public.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.core.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="static/css/alertify.default.css" media="all" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="static/images/logo.png"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-float-left eight">
                    <li class="navbar-float-left"><strong>PennBook</strong></li>
                </ul>
                <ul class="nav navbar-nav navbar-float-right">
                    <li><a href="static/about">About PennBook</a></li>
                    <li><a href="/createAccount">Create Account</a></li>

                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="logo">
            <img src="static/images/logo.png">
        </div>
        <div class="enter-credentials">
            <h3>Login</h3>
            <div>
                <label for="id-email">Username: </label>
                <input id="id-email" class="form-contol" name="email" type="text" maxlength="64">
            </div>
            <div>
                <label for="id-password">Password: </label>
                <input id="id-password" class="form-contol" name="password" type="password" maxlength="256">
            </div>

            <div class="submit-credentials">
                <a><button class="form-contol btn btn-default" id="submit-credentials">Submit</button></a>
            </div>
        </div>


        <footer class="footer">
            &copy Made with <span>love</span> for NETS 212 - Fall 2014 | Meyer Kizner and Brian Shi
        </footer>



        <script src="static/js/libs/jquery-2.1.1.js"></script>
        <script>
        $(document).ready( function () { 
            var submitPost = function () { 
                var email = $("#id-email").val();
                var password = $("#id-password").val();

                var credentials = {};
                credentials.email = email;
                credentials.password = password;

                $.ajax({
                    'type': 'POST',
                    'url': '/api/login',
                    'contentType': 'application/json',
                    'data': JSON.stringify(credentials),
                    'dataType': 'json',
                    'success': function (response) { 
                        location.reload();
                    }
                });
            }
            $("#submit-credentials").on( "click", function () {
                submitPost();
            });
            $("#id-password").keypress( function (e) {
                var key = e.keyCode;
                if (key == 13)  
                {
                    submitPost();
                }
            });  
        });
        </script>
    </body>
</html>







