<div class="enter-credentials">
    <div>
        <label for="id-email">Username: </label>
        <input id="id-email" name="email" type="text" maxlength="64">
    </div>
    <div>
        <label for="id-password">Password: </label>
        <input id="id-password" name="password" type="password" maxlength="256">
    </div>

    <div class="submit-credentials">
        <a><button id="submit-credentials">Submit</button></a>
    </div>
</div>
<script src="static/js/libs/jquery-2.1.1.js"></script>
<script>
$(document).ready( function () { 
    var submitPost = function () { 
        var email = $("#id-email").val();
        var password = $("#id-password").val();

        var credentials = {};
        credentials.email = email;
        credentials.password = password;

        $.ajax({
            'type': 'POST',
            'url': '/api/login',
            'contentType': 'application/json',
            'data': JSON.stringify(credentials),
            'dataType': 'json',
            'success': function (response) { 
                location.reload();
            }
        });
    }
    $("#submit-credentials").on( "click", function () {
        submitPost();
    });
    $("#id-password").keypress( function (e) {
        var key = e.keyCode;
        if (key == 13)  
        {
            submitPost();
        }
    });  
});
</script>
