body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9eaed;
}

a {
  color: #3137b6;
}
.navbar-brand img { 
    height: 120%;
    width: auto;
}

.eight-logo { 
    width: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.eight-logo img { 
    display: block;
    width: 100%;
}
/***************************** Login Page/Header */
.enter-credentials { 
    width: 100%;
    margin-top: 4em;
}

.enter-credentials div { 
    display: block;
    width: 25%;
    margin-top: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.enter-credentials div input { 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.enter-credentials div #id-password { 
    margin-left: .2em;
}

.enter-credentials div #id-password-2 { 
    margin-left: .2em;
}

.submit-credentials {
    width: 100%;
    margin-top: 1em;
}

.submit-credentials a {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.submit-credentials a button {
    margin-top: 2em;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
/* End User Page/Header */


/* Footer */
.footer { 
    text-align: right;
    padding: 1em 2em;
    height: 4em;
    width: 100%;
    margin-bottom: 0;
    font-size: 80%;
}
.footer span { 
    color: red;
    font-weight: bold;
}
/* End Footer */


/* Navbar */
.navbar-default .eight { 
    font-weight: bold;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
    font-size: 110%;
}
.navbar-default {
	background-color: #3137b6;
	border-color: #2f39ad;
    padding-left: 3em;
    padding-right: 3em;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #454847;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #454847;
}
.navbar-default .navbar-toggle {
	border-color: #454847;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #454847;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #454847;
	}
}
.navbar-float-right { 
    float: right;
}
/* End Navbar */

/* Submit Button */
.submit-credentials a button {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
/* End Submit Button*/

/***************************** User Page */

.overall { 
}

.box-row { 
    overflow: hidden;
    border-bottom: 1px solid #f6f8fc;
}

.box-row .col-md-4 { 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid #f6f8fc;
    border-top: none;
    border-right: none;
    display: table-cell;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

.box-row .col-md-4:hover { 
    background: LightGray;
}

.col-md-4 .box { 
    margin-top: 2em;
    margin-bottom: 3em;
}

.box-portrait { 
    width: 100%;
    text-align: center;
}

.box-portrait img { 
    display: block;
    width: 75%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.box-portrait .actions { 
    text-align: left;
    margin-top: 2em;
    margin-left: 20%;
    font-weight: bold;
}

ul { 
    list-style-type: none;
    margin-left: -2em;
}

.box-friends { 
}

.box-friends ul li { 
    padding: 1em;
}

.box-friends ul img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
}
.box-trips { 
}

.box-trips ul li { 
    padding: 1em;
}

.box-trips ul img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
}

.box-recommendations ul { 
    margin-top: 2em;
}

.box-recommendations .group-recommendations { 
    height: 10em;
}

.box-recommendations .recommended-person { 
    height: 1.25em;
}
.box-recommendations .recommended-person img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
    float: left;
    display: inline;
}

.box-recommendations .recommended-person p { 
    float: left;
    display: inline;
    width: 80%;
}

.box-recommendations .recommended-destinations-list { 
    margin-top: 0em;
    margin-left: 3.5em;
}

.box-trips { 
    padding-left: 2em;
}

.box-trips .list-trips { 

}

.box-trips .list-trips ul li { 
    padding: 1.25em .5em;
}

.box-trips .list-trips img { 
    margin-right: 1em;
    height: 4em;
    width: auto;
}

.box-photos { 
    padding: 0em 1.5em;
}

.box-photos .list-photos .box-photos-header {
    width: 100%;
    height: 5em;
}

.box-photos .list-photos .box-photos-header .box-photos-header-title {
    float: left;
}

.box-photos .list-photos .box-photos-header .upload-photo {
    float: right;
    padding-top: 1em;
}

.box-photos .list-photos .photo-row {
    margin-top: 2em;
}

.box-photos .list-photos .photo-row img {
    width: 5em;
    height: auto;
}

.box-photos .upload-photo { 
    width: 100%;
    margin-top: 3em;
}

.box-photos .upload-photo input[type="text"] { 
    width: 60%;
    float: left;
}

.box-photos .upload-photo input[type="submit"] { 
    float: right;
}

.box-photos .list-albums { 
    padding-top: 3em;
}

.box-photos .list-photos .photo-row img { 
    width: 90%;
    height: auto;
    margin: auto;
}

.box-destinations .list-destinations .destinations-row img { 
    width: 100%;
    height: auto;
    margin: auto;
    border: 2px dotted Black;
}

.box-destinations .list-destinations .destinations-row p { 
    margin-top: .2em;
    font-size: 80%;
    text-align: center;
}

.box-destinations .list-destinations .destinations-row .column-destination { 
    border: none;
}

.privacy-select { 
    margin-top: 2em;
}

.box-albums .album-profile {
    text-align: center;
}
.box-albums .album-profile h2 { 
    top: 50%;
}

.box-albums .photo-row {
    margin-top: 2em;
}

.box-albums .photo-row img {
    width: 5em;
    height: auto;
    width: 90%;
    height: auto;
    margin: auto;
}

#submit-album-to-trip button { 
    margin-top: 0em;
    float: left;
}
