body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9eaed;
}

a {
  color: #3137b6;
  cursor: pointer;
}

.btn { 
    border-radius: 2px !important;
}


.navbar-brand img { 
    height: 120%;
    width: auto;
}

.logo { 
    width: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.logo img { 
    display: block;
    width: 100%;
}
/***************************** Login Page/Header */
.enter-credentials { 
    width: 100%;
    margin-top: 6em;
    margin-bottom: 10em;
}

.enter-credentials h3 { 
    text-align: center;
    font-weight: bold;
}

.enter-credentials div { 
    display: block;
    width: 25%;
    margin-top: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.enter-credentials div input { 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.enter-credentials div #id-password { 
    margin-left: .2em;
}

.enter-credentials div #id-password-2 { 
    margin-left: .2em;
}

.submit-credentials {
    width: 100%;
    margin-top: 1em;
}

.submit-credentials a {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.submit-credentials a button {
    margin-top: 2em;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
/* End User Page/Header */


/* Footer */
.footer { 
    text-align: right;
    padding: 1em 2em;
    height: 4em;
    width: 100%;
    margin-bottom: 0;
    font-size: 80%;
}
.footer span { 
    color: red;
    font-weight: bold;
}
/* End Footer */


/* Navbar */
.navbar-default .eight { 
    font-weight: bold;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
    font-size: 110%;
}
.navbar-default {
	background-color: #537CCF;
	border-color: #2f39ad;
    padding-left: 3em;
    padding-right: 1.5em;
}
.navbar-default .navbar-brand {
	color: #537CCF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #454847;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #454847;
}
.navbar-default .navbar-toggle {
	border-color: #454847;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #454847;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #454847;
	}
}
.navbar-float-right { 
    float: right;
}
/* End Navbar */

/* Submit Button */
/* End Submit Button*/

/***************************** User Page */

.overall { 
}

.row { 
    margin-right: 0em;
}

.box-row { 
    overflow: hidden;
    border-bottom: 1px solid #f6f8fc;
}

.box-row .col-md-4 { 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid #f6f8fc;
    border-top: none;
    border-right: none;
    display: table-cell;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}

.box-row .col-md-4:hover { 
    background: LightGray;
}

.col-md-4 .box { 
    margin-top: 2em;
    margin-bottom: 3em;
}

.box-portrait { 
    width: 100%;
    text-align: center;
}

.box-portrait img { 
    display: block;
    width: 75%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #E0E0E0;
}

.box-portrait .actions { 
    text-align: left;
    margin-top: 2em;
    margin-left: 20%;
    font-weight: bold;
}

ul { 
    list-style-type: none;
    margin-left: -2em;
}

.user-status { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    background: #B8B8B8;
    text-align: left;
    padding: .4em .6em;
}

.user-status input { 
    width: 99%;
}

.user-status:hover { 
    background: #A0A0A0;
    cursor: pointer;
}

.view-select { 
    margin-top: 2em;
    padding: 0em 41.5%;
}

.view-select select { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    padding-left: 1em;
}

.view-select select:hover { 
    background: #F8F8F8;
    cursor: pointer;
}

.view-select select option { 
}

.box-friends div { 
    min-height: 30em;
}

.box-friends .friends-list { 
    width: 50%;
    float: left;
}

.box-friends .friends-list:hover { 
    background: #E8E8E8;
}

.box-friends .network-list { 
    float: left;
    width: 50%;
}

.box-friends .network-list:hover { 
    background: #E8E8E8;
}

.box-friends h3 { 
}

.box-friends ul li { 
    margin: 1em;
    margin-left: 2em;
}

.box-friends ul img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
}
.box-trips { 
}

.box-trips ul li { 
    padding: 1em;
}

.box-trips ul img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
}

.box-recommendations ul { 
    margin-top: 2em;
}

.box-recommendations .group-recommendations { 
    height: 10em;
}

.box-recommendations .recommended-person { 
    height: 1.25em;
}
.box-recommendations .recommended-person img { 
    margin-right: 1em;
    height: 2em;
    width: auto;
    float: left;
    display: inline;
}

.box-recommendations .recommended-person p { 
    float: left;
    display: inline;
    width: 80%;
}

.box-recommendations .recommended-destinations-list { 
    margin-top: 0em;
    margin-left: 3.5em;
}

.box-trips { 
    padding-left: 2em;
}

.box-trips .list-trips { 

}

.box-trips .list-trips ul li { 
    padding: 1.25em .5em;
}

.box-trips .list-trips img { 
    margin-right: 1em;
    height: 4em;
    width: auto;
}

.box-photos { 
    padding: 0em 1.5em;
}

.box-photos .list-photos .box-photos-header {
    width: 100%;
    height: 5em;
}

.box-photos .list-photos .box-photos-header .box-photos-header-title {
    float: left;
}

.box-photos .list-photos .box-photos-header .upload-photo {
    float: right;
    padding-top: 1em;
}

.box-photos .list-photos .photo-row {
    margin-top: 2em;
}

.box-photos .list-photos .photo-row img {
    width: 5em;
    height: auto;
}

.box-photos .upload-photo { 
    width: 100%;
    margin-top: 3em;
}

.box-photos .upload-photo input[type="text"] { 
    width: 60%;
    float: left;
}

.box-photos .upload-photo input[type="submit"] { 
    float: right;
}

.box-photos .list-albums { 
    padding-top: 3em;
}

.box-photos .list-photos .photo-row img { 
    width: 90%;
    height: auto;
    margin: auto;
}

.box-destinations .list-destinations .destinations-row img { 
    width: 100%;
    height: auto;
    margin: auto;
    border: 2px dotted Black;
}

.box-destinations .list-destinations .destinations-row p { 
    margin-top: .2em;
    font-size: 80%;
    text-align: center;
}

.box-destinations .list-destinations .destinations-row .column-destination { 
    border: none;
}

.privacy-select { 
    margin-top: 2em;
}

.box-albums .album-profile {
    text-align: center;
}
.box-albums .album-profile h2 { 
    top: 50%;
}

.box-albums .photo-row {
    margin-top: 2em;
}

.box-albums .photo-row img {
    width: 5em;
    height: auto;
    width: 90%;
    height: auto;
    margin: auto;
}

#submit-album-to-trip button { 
    margin-top: 0em;
    float: left;
}

.box-peek .peeking-header { 
    height: 3.5em;
    padding: 0.75em;
}

.box-peek .peeking-header .peeking-header-text { 
    text-align: left;
    margin-left: 1em;
    float: left;
}

.box-peek .peeking-header button { 
    float: right;
    margin-top: 5px;
}

.box-peek .peek-img { 
    width: 70%!important;
}

.select-content { 
    margin-top: 50%;
    text-align: center;
}

.box-header { 
    margin-left: 1em;
    margin-top: 1.5em;
}

.button-add-friends { 
    background: white;
    border-radius: 2px;
}

.button-hover { 
    background: #fff;
}
.button-hover:hover { 
    background: #F8F8F8;
}

.creep-suggestion { 
    text-align: center;
    margin-top: 50%;
}

.write-post {
    padding: 2% 4%;
    padding-right: 0;
    width: 92%;
    height: 4.5em;
}

.write-post .input-wallpost {
    float: left;
    padding-left: 5%;
    padding-right: 15%;
    width: 80%;
}

.write-post button {
    float: left;
    margin-left: 1.5em;
}

.wall-posts { 
    padding: 1em;
}

.select-content-type { 
    font-size: 95%;
}

.box-edit .profile-input { 
    padding: 1em;
    padding-left: 2.5em;
}

.box-edit .profile-input input { 
    width: 90%;
    margin: auto;
    margin-bottom: 1.5em;
}

.box-edit .profile-input button { 
    margin-top: 1em;
}

.enter-account { 
    padding: 5em 10em;
    padding-right: 40em;
    padding-left: 40em;
}

.enter-account h3 { 
    text-align: center;
    margin-bottom: 1em;
}

.enter-account input { 
    margin-bottom: 2em;
    margin-left: 1em;
}

.news-feed ul li{ 
    margin-left: 2em;
    margin-right: 1em;
}
