<div class="box box-portrait box-peek">
    <div class="peeking-header">
        <h4 class="peeking-header-text">Creeping...</h4>
        <button class="btn btn-small button-add-friend button-hover">
            <% if (areFriends) { %>
                Remove Friend
            <% } else { %>
                Add Friend
            <% } %>
        </button>
    </div>

    <% if (false) { %>
        <img class="peek-img" src="static/images/<%= url %>"/>
    <% } else { %>
        <img class="peek-img" src="static/images/filler.jpg"/>
    <% } %>
    </a>

    <h3>
        <%= firstName %> <%= lastName %>
    </h3>
    <h4>
        <%= affiliation %>
    </h4>
    <div class="user-interests">
        <h5><%= firstName %> enjoys 
            <% for (var i = 0; i < interests.length - 1; i++) { %>
                <%= interests[i] %>,
            <% } %>
            and 
            <% if (interests.length > 0) { %>
                <%= interests[interests.length - 1] %>.
            <% } %>
        </h5>
    </div>
    <div class="user-status">
        <div>
            Write on <%= firstName %>'s wall?
        </div>
    </div>
    <div class="view-select">
        <select class="form-control">
            <option>Wall &#10148;</option>
            <option>Photos &#10148;</option>

        </select>
    </div>

</div>
 
