<div class="box box-edit">
    <h3 class="box-header">Edit Profile</h3>

    <div class="profile-input">
        <label for="change-first-name">First name:</label>
        <input type="text" class="form-control" id="change-first-name" value="<%= firstName %>"></input>
        <label for="change-last-name">Last name:</label>
        <input type="text" class="form-control" id="change-last-name" value="<%= lastName %>"></input>
        <label for="change-affiliation">Affiliation:</label>
        <input type="text" class="form-control" id="change-affiliation" value="<%= affiliation %>"></input>
        <label for="change-interests">Interests: (Enter as list separated by commas)</label>
        <input type="text" class="form-control" id="change-interests" value="<%= interestsString %>"></input>
        <button type="submit" class="btn btn-small button-hover submit-edit">Save</button>
    </div>
</div>
 
