<div class="box box-portrait">
    <% if (false) { %>
        <img src="static/images/<%= url %>"/>
    <% } else { %>
        <img src="static/images/filler.jpg"/>
    <% } %>
    </a>

    <h3>
        <%= firstName %> <%= lastName %>
    </h3>
    <h4>
        <%= affiliation %>
    </h4>
    <div class="user-interests">
        <h5><%= firstName %> enjoys 
            <% if (interests && interests[0] != "None") { %>
                <% for (var i = 0; i < interests.length - 1; i++) { %>
                    <%= interests[i] %>,
                <% } %>
                and 
                <% if (interests.length > 0) { %>
                    <%= interests[interests.length - 1] %>.
                <% } %>
            <% } else {  %>
                absolutely nothing.
            <% } %>
        </h5>
    </div>
    <div class="user-status">
        <div>
            <% if (status) { %>
                <%= status %>
            <% } else { %>
                ENTER STATUS
            <% } %>
        </div>
    </div>
    <div class="view-select">
        <select class="form-control select-content-type">
            <option class="select-none" value="none">(Select)</option>
            <option class="select-feed" value="feed">Feed &#10148;</option>
            <option class="select-wall" value="wall">Wall &#10148;</option>
            <option class="select-edit" value="edit">Edit &#10148;</option>
        </select>
    </div>

</div>
 
