<div class="box box-specials">
    <div class="">
        <div class="specials-header"> 
            <h3 class="box-header float-left">Special Features</h3>
            <select class="specials-select float-right form-control">
                <option selected="selected">(Select Feature)</option>
                <option value="visualizer">Visualizer</option>
                <option value="search">Search Users</option>
                <option value="recommend">Recommendations</option>
            </select>
        </div>

        <div class="specials-body">
        </div>
    </div>
</div>
 
