<div class="navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="static/images/logo.png"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-float-left eight">
            <li class="navbar-float-left"><strong>PennBook</strong></li>
        </ul>
        <ul class="nav navbar-nav navbar-float-right">
            <li><a href="static/about">About PennBook</a></li>
            <% if (loggedIn) { %>
            <li><a href="static/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/">Login</a></li>
            <li class="active"><a href="static/register">Create Account</a></li>
            <% } %>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="content-tiles">
    <div class="row box-row">
        <div class="col-md-4 box-user">
        </div>

        <div class="col-md-4 box-newsfeed">
        </div>

        <div class="col-md-4 box-specials">
        </div>
    </div>
    <div class="row box-row">
        <div class="col-md-4 box-friends">
        </div>

        <div class="col-md-4 box-window">
        </div>

        <div class="col-md-4 box-photos">
        </div>
    </div>
</div>


<footer class="footer">
    &copy Made with <span>love</span> for CIS 550 - Fall 2014
</footer>

